
<div class="container">
  <div class="row" align="center">
    <% if User.any? %>
      <% if !logged_in? %>
        <h2>You must be logged in to make a comment.</h2>
      <% else %>

      <a href="#" class="btn btn-success btn-lg" id="showpopup">Make a comment</a>
      <% end %>
      <hr>
      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
          <% @comments.each do |comment| %>
              <li class="list-group-item <%= comment.user == current_user ? "align-left" : "align-right" %>">
                <h6
                  <span class="label label-<%= comment.user == current_user ? "success" : "primary" %>">
                  <%= comment.user.username %></span> said:
                  <% if logged_in? && current_user == comment.user %>
                    <div class="btn-group-sm right">

                      <%= link_to "Delete", user_comment_path(@user, comment), method: :delete, data: { confirm: "Are  you sure?" }, class: "btn btn-danger" %>

                    </div>
                  <% end %>
                </h6>

                <h5><%= comment.body %></h2>

                <p>

                    <%= time_ago_in_words(comment.created_at) %> ago

                </p>
              </li>
          <% end %>
        </ul>
      </div>
    <% else %>

      <h2 align="center">Sign up and make the first comment!</h2>

    <% end %>
  </div>
</div>
