<%= form_for(obj) do |u| %>
  <div class="form-group">
    <%= u.label :username %>
    <%= u.text_field :username, class: "form-control", placeholder: "Enter a username" %>
  </div>

  <div class="form-group">
    <%= u.label :email %>
    <%= u.text_field :email, class: "form-control", placeholder: "Enter an email address" %>
  </div>

  <div class="form-group">
    <%= u.label :password %>
    <%= u.password_field :password, class: "form-control", placeholder: "Enter a password" %>
    <br/>
    <%= u.password_field :password_confirmation, class: "form-control", placeholder: "Confirm the password" %>
  </div>
    <% if obj == @newuser %>
      <%= u.submit "Sign UP!", class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= u.submit "Update Info", class: "btn btn-lg btn-primary" %>
    <% end %>
<% end %>
