
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Users', users_path, class: "btn btn-success" %>
            <% if @user.comments.any? %>
              <%= link_to 'My Comments', user_comments_path(@user), class: "btn btn-default" %>
            <% end %>
          </div>
            <br/>
          <h2><%= @user.username %>'s profile</h2>

        </div>
        <div class="panel-body">
          Email: <span class="label label-success"><%= @user.email %></span>
          <hr>
          Comments: <span class="label label-success"><%= @user.comments.count %></span>
          <hr>
          Joined: <span class="label label-success"><%= time_ago_in_words(@user.created_at) %> ago</span>
        </div>
        <% if logged_in? && current_user.id == @user.id %>
          <div class="panel-footer">


              <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
              <%= link_to 'Deactivate', user_path(@user), method: :delete, class: "btn btn-danger",
                                        data: { confirm: "Are you sure you want to deactivate your account?" } %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
