<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Comments App 03", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Comments', comments_path %></li>

      </ul>

      <% if (params[:action] == 'comments' && params[:controller] == 'comments') && (Comment.count > 1) %>
        <!-- Searching comments work here -->

        <%= form_tag(comments_path, method: :get, id: "search-form", class: "navbar-form navbar-left") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search comments" %>
          </div>
            <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>
        <!-- End Search -->
      <% end %>

      <% if (params[:action] == 'index' && params[:controller] == 'users') && (User.count > 1) %>
         <!-- Searching works here!! -->

        <%= form_tag(users_path, method: :get, id: "search-form", class: "navbar-form navbar-left") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Users" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-default" %>
        <% end %>

        <!-- end search -->
      <% end %>

      <ul class="nav navbar-nav navbar-right">

        <% if !logged_in? %>

          <form class="navbar-form navbar-right" action="index.html" method="post">
            <%= link_to "Sign up", signup_path, class: "btn btn-danger " %>
            <%= link_to "Log in", login_path, class: "btn btn-primary " %>
          </form>


        <% elsif logged_in? %>

          <form class="navbar-form navbar-right" action="index.html" method="post">
            <%= link_to "Log out", login_path, method: :delete, class: "btn btn-danger" %>
          </form>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
