<!DOCTYPE html>
<html>
  <head>
    <title>CommentingAppP3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if params[:controller] == "comments" && params[:action] == "comments"%>
      <%= render 'comments/form' %>
    <% end %>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
